SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
EMAIL_TO=start@primeadvertere.com
#OPTIONAL: You can override port/host via environment variables
#PORT=8080
